.add_book{
    margin-top: 92px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.issue_btn{
    background-color: #7fd81e;
}
.cancel_btn{
    background-color: #fc4647;
}
.font_14{
    font-size: 14px;
}
.font-13{
    font-size: 13px;
}
.font-12{
    font-size: 12px;
}
.top_margin{
    margin-top: 92px;
}
body{
	background-color: #fafafa;
}

/* for view book */
.bookdetail_heading{
    font-weight: 700;
    width: 255px;
}
.book_name{
    color: #05a5d3;
}